.directory
*.keystore
*~
.ht*
*swp

bugs.txt
TibetanDictionary_private.db
TibetanDictionary-FULL.apk

_input/dictionaries/private
_input/dictionaries/private_en
_input/dictionaries/en_input_private
_input/dictionaries/en_input_prepared_private
_input/dictionaries/old
_input/dictionaries/_old
_build/desktop

__gitscripts
__deployscripts
git