[submodule "webapp/code/js/ewts-js"]
	path = webapp/code/js/ewts-js
	url = https://github.com/rogerespel/ewts-js.git

[submodule "webapp-react/src/utils/ewts-js"]
	path = webapp-react/src/utils/ewts-js
	url = https://github.com/rogerespel/ewts-js.git
