@font-face {
  font-family: 'DDC Uchen';
  src: local('DDC Uchen'),
       url('DDC_Uchen-webfont.woff') format('woff'), 
       url('DDC_Uchen-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;  
}

body,.textInput{
  color:#000;
  background-color:#fff;
}

html, body, .page{
  padding:0;
  margin:0;
}

a{
  color: #222;
}

.link{
  text-decoration:underline;
  cursor:pointer;
}

.leftSideBar{
  width:20em;
  border-right: 1px solid #ccc;
}
.sideBarInnerWrap{
  padding:0 0.3em;
  position:relative;
}
.leftSideBar,.mainWrap{
  padding-top:4em;
}
.mainWrap{
  width:auto;
}

#wordList {
  font-family: "Droid Sans", "DejaVu Sans", LiberationSans, Arial, Sans-serif;
  border:1px solid #ccc;
  width:100%;
  cursor:pointer;
  
}
#wordList th{
  display:none;
}
#wordList td {
    padding: 0.1em 0.2em;
}
#wordList td:hover{
  text-decoration:underline;
}
.even{
  background-color: #e0e0ff;    
}
.selected{
  background-color:#558;
  color:#fff;
}
    
#searchTerm{
  font-size:1.2em;
  padding: 0.3em 0.2em;
  width:100%;
  font-family:"Droid Sans", sans-serif;
}

#definitions{
  left: 1em;
  margin-right: 2em;
  position: relative;
}
#definitionList{
  border:1px solid #ccc;
  border-collapse:collapse;
  width:100%;
  max-width: 98vw;
}

#definitionList td{
  border-top:1px solid #ccc;
  vertical-align:top;
}
.definitionHead{
  font-family: "Droid Sans", "DejaVu Sans", LiberationSans, Arial, Sans-serif;
  margin:0 0 0.5em 0;
  font-size:2em;
}
.dictName {
  color:#666;
  font-weight:bold;
  font-family: "Droid Sans", "DejaVu Sans", LiberationSans, Arial, Sans-serif;
  padding:0.6em 0.9em 0.6em 0.3em ;
  border-right:1px solid #eee;
  width:12em;
}

.definition{
  font-size:1.2em;
  padding:0.3em 0.3em 0.3em 0.7em;
  font-family: "Droid Serif","DejaVu Serif",Verdana,Georgia,serif;
}
.definition p{
  margin:0 0 0.45em 0;
}
#mainScreen {
  position:absolute;
  top:0;
  left:0;
  width:100%;  
}
.page{
  display:table;
  display:table;
  width:100%;
}
.contentArea{
  display:table-row;
}
.leftSideBar, .mainWrap{
  display:table-cell;
  vertical-align:top;
}
.textInput{
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  position:fixed;
  -webkit-backface-visibility: hidden; /* position:fixed-workaround for older android versions */
  top:0;
  left:0;
  z-index:1;
  width:100%;
}
.textInputWrap{
  padding-right:130px;
}
#settingsBtn{
  position:absolute;
  top:0.4em;
  right:0;
}
.unicodeTibInput #settingsBtn{
  top:0.8em;
}
#clearBtn{
  position:absolute;
  top:0.4em;
  right:70px;
}
.unicodeTibInput #clearBtn{
  top:0.8em;
  right:70px;
}

.switchBtn {
  position:absolute;
  top:0.4em;
  right:40px;
}
.unicodeTibInput .switchBtn {
  top:0.8em;
}

.unicodeTibInput .leftSideBar,.unicodeTibInput .mainWrap{
  padding-top:5em;
}

.desktop.sidebarTib #wordList, .desktop.unicodeTibInput #searchTerm, .desktop.unicodeTib .definitionHead,.desktop.unicodeTib .tib{
  font-family: "Droid Sans", sans-serif,"Jomolhari","Jomolhari ID","DDC Uchen","Kailasa","DDC Rinzin","Uchen_05","Qomolangma-Uchen Sarchung","Qomolangma-Uchen Sutung","Narthang","CTRC-Uchen","Monlam Uni OuChan2","Monlam Uni OuChan1","XenoType Tibetan New","TCRC Youtso Unicode","Tibetan Machine Uni","DDCRinzin-webfont","SambhotaDege","Microsoft Himalaya","Tib-US Unicode";
  text-rendering: optimizeLegibility;
}

.mobile.sidebarTib #wordList, .mobile.unicodeTibInput #searchTerm, .mobile.unicodeTib .definitionHead,.mobile.unicodeTib  .tib{
  font-family:"DDC Uchen";
/*  text-rendering: optimizeLegibility;*/
}

.paginate{
  margin:0.5em 0;
  text-align:center;
}

.paginate a{
  border:1px solid #ccc;
  padding:0.1em 2%;
  width: 40%;
  display: inline-block;  
  text-decoration:none;
}
.paginate a+a{
  margin-left:5%;
}

.paginate_info{
  color:#444;
  font-size:1em;
  margin-top: 0.5em;
  text-align: center;  
}

#wordList{
  font-size: 1.1em;
}
.sidebarTib #wordList, .unicodeTibInput #searchTerm, .unicodeTib .tib{
  font-size: 1.5em;
  line-height: 180%;
}
.unicodeTib .inlineTib{
  font-size: 1.2em;
  line-height: 170%;
}
.unicodeTib .tib .paren{
  font-family:"Droid Sans", sans-serif;
}

.unicodeTib .definitionHead{
  font-weight:normal;
  font-size: 2.2em;
  line-height:160%;
  margin:0;
}

.unicodeTibInput #searchTerm{
  padding: 0.2em 0 0 0.2em;
}

/* initialization screen*/
#init {
    background-color: #fff;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#initMsg {
    padding:5em 0 0 0;
}

.loader{
  margin:2em;
  background:#fff;
}

#settingsScreen{
  z-index:99 !important;
  background:#fff;
}
#setting_unicode, #setting_layout{
  max-width:75%;
}

.settings{
  margin: 0 auto;
  display:table;
  max-width: 100%;
}
.settings>*{
  display:table-row;
}
.settings>*>*{
  display:table-cell;
  padding:1em 0.3em;
}
.settings .label{
  max-width:14em;
}
.settings .buttons{
  padding-top:2.25em;
  padding-bottom:1em;
}


.dictsettings-line{
  display:table-row;
}
.dictsettings-line:nth-child(odd) {
  background-color:#eee;
}

.dictsettings-line>*{
  display:table-cell;
  padding:0.5em 0.5em;
}


.disabled{
    visibility:hidden;
}

.settings .settingsinfo {
  max-width:40em;
  font-size:0.9em;
  color:#606060;
}

h1{
  font-size:1.3em;
  font-family:"Droid Sans", sans-serif;
}

body{
  font-family:"Droid Sans", sans-serif;
}

/*medium screens*/
@media only all and (max-width: 1000px) {
  .leftSideBar{
    width:14em;
  }
  #definitionList{
    border:none;
    border-collapse:none;
  }
  #definitionList,#definitionList tbody,#definitionList tr,#definitionList td {
    display:block;
  }
  #definitionList{
    width:100%;
  }

  #definitionList .dictName{
    border-bottom:none;
    border-left:none;
    border-right:none;
    padding:0.35em 0.2em 0 0.25em;
    width:auto;
  }
  #definitionList .definition{
    border-top:none;
    border-left:none;
    border-right:none;
  }
}

@media only all and (max-width: 800px) { 
  .leftSideBar{
    width:12em;
  }
}

@media only all and (max-width: 700px) { 
  .leftSideBar{
    width:11em;
  }
  .paginate a{
    width:auto;
  }
}


/*small screens*/
@media only all and (max-width: 600px) { 
  .leftSideBar{display:none !important}
  
  .forceLeftSideVisible .leftSideBar{display:table-cell !important}
  .forceLeftSideVisible .mainWrap{display:none !important}
  
  .dictName{width:auto;padding:0.5em 0.3em}
  #definitions,.textInput{left:0;margin:0;padding:0}
  #searchTerm{
    border-left: 0 none;
    margin-top: -1px;  
  }
  
  .settings {
    margin:0;
    display:block;
  }
  .settings>*{
    display:block;
    padding-top:1.5em;
  }
  .settings>*>*{
    display:block;
    padding:0;
    margin:0;
  }
  .settings .label{
    max-width:100%;
  }
  #setting_unicode, #setting_layout{
    max-width:99%;
  }
  .settings .buttons{
    text-align:center;
  }

  #settingsBtn, #clearBtn, .switchBtn{
    top:-0.2em;
  }

  .unicodeTibInput #settingsBtn, .unicodeTibInput #clearBtn, .unicodeTibInput .switchBtn{
    top:0.2em;
  }

  .textInputWrap{
    padding-right:115px;
  }

}

#aboutInfo {
    width:95%;
    overflow-x:hidden;
}

dt {
    max-width:100%;        
    font-weight:bold;
    margin-top:0.75em;
    word-wrap:break-word;
    overflow-wrap:break-word;
}
dd {
    max-width:100%;
    margin-left: 0em;
    box-sizing: border-box;
    border-left: 2em solid rgba(0,0,0,0);
    word-wrap:break-word;
    overflow-wrap:break-word;
}

* {
    max-width:100%;
    word-wrap:break-word;
    overflow-wrap:break-word;
}
a img {
    max-width:none;
}

/*dark layout*/
body.dark,.dark .textInput{background-color:#000 !important;color:#eee}
.dark .paginate_info{color:#ccc}
.dark input,.dark select{background-color:#333 !important;color:#eee}
.dark .dictName{color:#aaa}
.dark .paginate a{border-color:#ccc;}
.dark #wordList .even{background-color:#333}
.dark a{color:#ddd}
.dark .selected{background-color:#558;color:#ff7;}
.dark #init{background-color:#000;}
.dark .dictName {border-right:1px solid #aaa;color:#a8a8a8;}
.dark #settingsScreen{background:#000}
.dark .dictsettings-line:nth-child(odd){background:#222}

.dark .settingsinfo {
    color:#eee;
}
