<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="share-text-plugin"
    version="1.0.0">

    <name>Share Text Plugin</name>
    <description>Plugin to handle shared text from other Android applications</description>
    <license>GPL v2/v3</license>
    <author>Christian Steinert</author>

    <js-module src="www/ShareTextPlugin.js" name="ShareTextPlugin">
        <clobbers target="ShareTextPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ShareTextPlugin">
                <param name="android-package" value="de.christian_steinert.tibetandict.ShareTextPlugin"/>
            </feature>
        </config-file>

        <!-- Add activity aliases for different share targets -->
        <!--
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity-alias android:name=".ShareTibetanActivity"
                           android:targetActivity="MainActivity"
                           android:exported="true"
                           android:label="Tib -> Eng">
                <intent-filter android:label="Tib -> Eng">
                    <action android:name="android.intent.action.SEND" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="text/plain" />
                </intent-filter>
                <meta-data android:name="searchLanguage" android:value="tib" />
            </activity-alias>
            <activity-alias android:name=".ShareEnglishActivity"
                           android:targetActivity="MainActivity"
                           android:exported="true"
                           android:label="Eng -> Tib">
                <intent-filter android:label="Eng -> Tib">
                    <action android:name="android.intent.action.SEND" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="text/plain" />
                </intent-filter>
                <meta-data android:name="searchLanguage" android:value="en" />
            </activity-alias>
        </config-file>
        -->

        <source-file src="src/android/ShareTextPlugin.java" target-dir="src/de/christian_steinert/tibetandict"/>
    </platform>

</plugin>